/* == GENERAL == */

#colorreference  {
    color: #862525, #cacaca, #202020, #dadada, #5a1111, #b13f3f, 

}

html {
    font-family: 'Lato', sans-serif;
}

/* === LAYOUT === */

html {
    background-color: white;
    margin: 0;
}

body {
    background-color: #862525; 
    margin: 0;
}

.header-block {
    padding-top: 30em;
    background-color: #cacaca;
    background-image: url(../images/Lina-Bo-Bardi-on-the-ship-Almirante-Jaceguay-on-her-way-to-Brasil-in-1946.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: auto;

}

.title, .subtitle {
    background-color: #862525; 
    color: #cacaca;
    width: 100%; 
   
}

.subtitle {
    margin-top: auto;
}

.title {
    margin-bottom: auto;
}



.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 15em;
    background-color: white;
}

.content-first {
    background-color: darkblue;
}

.description {
    background-color: #202020;
    color: #cacaca;
    margin: auto;
    padding: .5em;
}

figure {
    margin: auto;
}

img {
    width: 100%;
}

.fig-caption {
    background-color: #cacaca;
    color: #202020;
    padding:.5em;
    margin-top: -.3em;
}

.timeline-section {
    
}
/* === TYPOGRAPHY === */ 


.title {
    font-size: 7rem;
    font-weight: 1000; 
}

.subtitle {
    font-size: 3.5rem;
}

.description, .introduction {
    font-size: 2rem;
}

.fig-caption {
    font-size: 1rem;
    font-weight: 800;
    text-align: right;
}

.timeline-header {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

ul {
    font-size: 1.5rem;
    text-align: center;
}

strong {
    font-weight: 800;
}

.learnmore-link {
    font-size: 2rem;
}

.inst-link {
    font-weight: 800;
}

.author {
    font-size: 1.5rem;
}

.github-link: {
    font-weight: 800;
}