/* == GENERAL == */


html {
    font-family: 'Lato', sans-serif;
}

/* === LAYOUT === */

html {
    background-color: white;
    margin: 0;
}

body {
    background-color: #862525; 
    margin: 0;
}

.header-block {
    padding-top: 30em;
    background-color: #cacaca;
    background-image: url(../images/Lina-Bo-Bardi-on-the-ship-Almirante-Jaceguay-on-her-way-to-Brasil-in-1946.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: 30% 40%;
    margin: auto;

}

.title, .subtitle {
    background-color: #862525; 
    color: #cacaca;
    width: 100%; 
   
}

.subtitle {
    margin-top: auto;
}

.title {
    margin-bottom: auto;
}

.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10em 10em 0em 10em;
}

.description {
    background-color: #202020;
    color: #cacaca;
    margin: auto;
    padding: .5em;
}

figure {
    margin: auto;
}

img {
    width: 100%;
}

.fig-caption {
    background-color: #cacaca;
    color: #202020;
    padding:.5em;
    margin-top: -.3em;
    margin-bottom: 7em;
}

.timeline-section {
    background-color: #cacaca; 
    width: 100%;
}

.timeline-header {
    margin: auto;
    padding: .5em;
    background-color: #202020;
    color: #cacaca; 
}

ul {
    margin: auto; 
    color: #202020; 
    padding: .5em;
}

li {
    padding: 1em; 
    border-bottom: 1px solid #202020;
}

li:last-child {
    border: none;
}

.learnmore-link {
    width: 100%;
    margin: 3em 0;
    color: #cacaca;
    border-bottom: 1.5px solid #cacaca;
    border-top: 1.5px solid #cacaca;
}

.learnmore-min {
    display: none;
}

footer {
    padding: auto;
    margin: 2em auto -1em auto; 
    background-color:#5a1111;
    color: #cacaca; 
}

.author {
    margin: auto;
    padding: 1em;
}

.author-min {
    display: none;
}


/* === LAYOUT MEDIA QUERIES === */


@media (max-width: 950px) {
    .header-block {
        padding-top: 15em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -12.5vmax;
    }

    .title {
        padding-bottom: 1rem;
    }

    .content-main {
        margin: auto;
    }

    .description {
        margin-top: 2em;
    }

    .fig-caption {
        margin-top: -.5em;
    }

    .learnmore-link {
        display: none;
    }

    .learnmore-min {
        display: flex;
        flex-direction: column;
        margin-top: 5em;
        margin-bottom: 5em;
        border-top: 2px solid #cacaca; 
        border-bottom: 2px solid #cacaca; 
        width: 90%
    }


    .button {
        background-color: #aa3333;
        padding: 2rem;
        border-radius: 0;
        border-color: #aa3333;
        width: auto;
        margin: 1em;
    }

    .author-min {
        display: block;
        padding: 2em 0;
    }

    .pic-link {
        border-radius: 50%;
        width: 5em;
        background-color: white;
        border-bottom: 1.5px solid white;
    }
}



@media (min-width: 2300px) {

        .header-block {
            padding-top: 65em;
        }

        li {
            border-bottom: 3px solid #202020;
        }

        .learnmore-link {
            border-bottom: 3px solid #cacaca;
            border-top: 3px solid #cacaca;
        }
}

/* === TYPOGRAPHY === */ 


.title {
    font-size: 7rem;
    font-weight: 1000; 
}

.subtitle {
    font-size: 3.5rem;
}

.description, .introduction {
    font-size: 2rem;
}

.fig-caption {
    font-size: 1rem;
    font-weight: 800;
    text-align: right;
}

.timeline-header {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

ul {
    list-style-type: none;
    font-size: 1.5rem;
    text-align:justify;
}

strong {
    font-weight: 800;
}

.learnmore-link {
    text-align: center;
    font-size: 2rem;
}

.inst-link, .github-link {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 800;
}

footer {
    font-size: 2rem;
}

.author {
    text-align: center;
}

/* === TYPOGRAPHY MEDIA QUERIES === */


@media (max-width: 1200px) {
    .header-block{
        text-align: center;
    }

    .title {
        font-size: 3rem;
        font-weight: 900;
    }

    .subtitle {
        font-size: 2rem;
        font-weight: 800;
    }

    .description {
        font-size: 1.5rem;
        text-align: justify;
        word-spacing: normal;
    }

    .fig-caption {
        font-size: .7rem;
        text-align: right;
    }

    .timeline-header {
        font-size: 2rem;
        text-align: justify;
    }

    strong {
        font-weight: 900;
    }

    .learnmore-min {
        font-size: 1.5rem; 
        font-weight: 900;
        text-align: justify;
        color: #cacaca;
    }

    .learnmore-min-paragraph {
        text-align: center;
        font-size: 1.8rem;
    }

    .instlink-min {
        text-decoration:none;
        font-size: 2rem;
        font-weight: 900;
        color:#e0e0e0; 
        text-align: center;
    }

    .author-min {
        text-align: center;
        font-size: 1.5rem;
    }

    .author, .github-link {
       display: none;
    }
}



@media (min-width: 1430px) {

    .title {
        font-size: 8.5rem;
        font-weight: 1000; 
    }
    
    .subtitle {
        font-size: 4.5rem;
    }
    
    .description, .introduction {
        font-size: 3.5rem;
    }
    
    .fig-caption {
        font-size: 2.5rem;
        font-weight: 800;
        text-align: right;
    }
    
    .timeline-header {
        font-size: 3.5rem;
        font-weight: 800;
        text-align: center;
    }
    
    ul {
        list-style-type: none;
        font-size: 4rem;
        text-align:justify;
    }
    
    strong {
        font-weight: 800;
    }
    
    .learnmore-link {
        text-align: center;
        font-size: 3.5rem;
    }
    
    .inst-link, .github-link {
        color: #e0e0e0;
        text-decoration: none;
        font-weight: 800;
    }
    
    .author {
        text-align: center;
        font-size: 3.5rem;
    }
}